{% extends "../base.html" %} 
{% load widget_tweaks %}

{% block content%}
    <div id="logreg-forms" class="card-dark-theme">
        
        {% if request.GET.next %}
            <form action="/login/applicant/?next={{request.GET.next}}" method="POST" class="form-signin">
        {%else%}
            <form class="form-signin" method="POST" action="/login/applicant/">
        {% endif %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in as Applicant</h1>
            <div class="social-login d-flex">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn facebook-btn social-btn mr-1" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </a>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>
            {% if form.errors or errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field,errors in form.errors.items %}
                        <span class="fieldWrapper">
                            {{ errors|striptags }}
                        </span>
                    {% endfor %}
                    {% for error in errors %}
                        <span class="fieldWrapper">
                            {{ error|striptags }}
                        </span>
                    {% endfor %}
                </div>
            {% endif%}
            
            {% csrf_token %}
            {{ form.login|add_class:"form-control" }}
            {{ form.password|add_class:"form-control" }}
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <a href="password_reset/" id="forgot_pswd">Forgot password?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <a href="/signup/applicant" class="btn btn-primary btn-block text-white" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</a>
        </form>

    
        
    
            
    </div>
    
{% endblock %}

