{% extends "../base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content%}
    <div id="logreg-forms">

            <div class="social-login-container">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
                </div>
            </div>
            
            <p style="text-align:center">OR</p>
            {% crispy form %}
            <!-- <input type="hidden" name="user_group" value="applicant"> -->

            <div class="d-inline text-center"> <p >Already a Member? <a class="d-inline" href="/login/applicant">Login Now</a></p></div>
      
            
    </div>
    
{% endblock %}


<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}"></a>
    
    <button class="primaryAction" type="submit">Login</button>
</form> -->