{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}






{% block content%}
<div class="container mt-3 px-10">
    <div id="education-img-header" class="card bg-dark mb-3">
        <div class="container mt-2">
            <div class="row mb-5">
                <div class="col-7 vertical-center">
                    <h4 class="text-white">Let's Get Started</h4>  
                </div>
                <div class="col-4">
                    <img src="{% static 'media/images/addjob.png' %}" class="img-applicant-portfolio" alt="">
                </div> 
            </div>  
        </div>
    </div>
    <div class="card bg-dark text-white">
        <div class="container- mt-2 px-5 py-3 ">
            <h4>Let's Get Started</h4>
        </div>
        <div class="container px-5">
            {{addjob_form.errors}}
            {%crispy addjob_form%}
            
        </div>
    </div>

</div>
{% endblock%}