{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block content%}
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div id="sidebar-header">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'media/images/profile.jpg' %}" alt="sample img" id="img-company" width="50" height="50">
            </div>

            <div class="col-9">
                <p class="text-white">{{request.session.company_name}}</p>
            </div>
        </div>
        
    </div>
    <ul class="sidebar-nav">
        <li id="employer-nav-dashboard"><a href="/employer/dashboard"><i class="icon-dashboard pr-2"></i> Dashboard</a></li>
        <li id="employer-nav-jobspanel"><a href="/employer/jobspanel"><i class="icon-briefcase pr-2 pl-0"></i> Jobs Panel</a></li>
        <li><a href="#"><i class="icon-bar-chart pr-2"></i>Analytics</a></li>
        <li><a href="#"><i class="icon-cogs pr-2"></i>Settings</a></li>
    </ul>
    <hr class="hr-gray">
    <div class="d-flex justify-content-center">
        <a href="{% url 'employer_addjob' %}" class="btn btn-applicant p-2"><i class="icon-plus-sign-alt pr-3"></i>Add Job Listing</a>
    </div>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-dark">
                    <div class="row mb-4">
                        <div class="col-12 pt-1 ml-4 text-white">
                            {% block dashboard-title%}
                            {% endblock dashboard-title %}
                        </div>
                    </div>
                    
                        {% block dashboard-content%}
                        {% endblock dashboard-content %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock %}