{% extends "./index.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block dashboard-title%}
    <i class="icon-dashboard d-inline-block fs-25 mt-2"></i>
    <h4 class="d-inline-block">Jobs Panel</h4>
{% endblock dashboard-title %}

{% block dashboard-content%}
    <div class="mx-4 text-white" id="jobspanel-bubble">
        <table class="text-white" id="table-job-posting">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Job Title</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_list%}
                    <tr>
                        <td>{{job.id}}</td>
                        <td>{{job.job_title}}</td>
                        <td>{{job.is_active}}</td>
                        <td><div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{% url 'employer_viewapplicants' job.id %}">View Applicants</a>
                                <hr style="background-color: black">
                                <a class="dropdown-item" href="{% url 'employer_updatejob' job.id %}" data-job-id="{{job.id}}">Edit</a>
                                {% if job.is_active == "Active" %}
                                    <a class="btn-set-active dropdown-item" href="#" data-status="Inactive" data-job-id="{{job.id}}">Set as Inactive</a>
                                {% else %}
                                    <a class="btn-set-active dropdown-item" href="#" data-status="Active" data-job-id="{{job.id}}">Set as Active</a>
                                {% endif %}
                                <a class="dropdown-item" href="#" data-job-id="{{job.id}}">Archive</a>
                            </div>
                          </div></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock dashboard-content %}