<!-- navbar section for log in form (hidden when user is logged in)-->

{% if not user.is_active %}
<a href="/login/applicant" class="btn btn-applicant my-2 my-sm-0 mr-1 text-white" id="btn-login-applicant"  name="signin-btn"
>Signin</a>
<a href="/handicapped/index" class="btn btn-applicant my-2 my-sm-0 mr-1 text-white" id="btn-handicap-ui"  name="signin-btn"
>UI For Handicappedd</a>
{% elif user.is_active %}
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello {{request.session.user_name}}</a>
            
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                {% if request.session.user_level == "applicant" %}
                <a class="dropdown-item" href="/applicant/portfolio">View Resume/Portfolio</a>
                <a class="dropdown-item" href="#">View Job Applications</a>
                {% elif request.session.user_level == "employer" %}
                <a class="dropdown-item" href="/employer/dashboard">View Dashboard</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                {% endif %}
            </div>
            
        </li>
    </ul>
   
    <a class="btn  my-2 my-sm-0 btn-applicant"  data-toggle="modal"
    data-target="#modal-logout" >Logout</a>
{% endif %}
