{% load static %}
<nav class="navbar navbar-expand-sm" style="background-color: #302f2f;">
    <a class="navbar-brand text-white" href="#" id="skillfind-logo"><img src="{% static 'media/images/SkillFind.png' %}" style="width: 50px; height: 50px;"> Skill Find</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
            <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="includes/" method="POST">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Job/Company....."> 
                    </form>
            </li>
        </ul>

        {% include "./nav-btn.html" %}
    </div>
</nav>