.card-dark-theme{
 background-color: rgba(18, 18, 18, 0.11);
}



.card-primary-theme{
    background-color:  rgba(187,134,252,0.24);
    color: #BB86FC;
}

.card-secondary-theme{
    background-color:  rgba(255, 255, 255, 0.13);
}

.card-primary-theme-p5{
    background-color:  rgba(187,134,252,0.12);
    color: #BB86FC;
}

.input-dark-theme{
  background-color: rgba(18, 18, 18, 0.15);
  color: white;
    
}

.btn-danger-dark{
    background-color: #CF6679
}

.text-danger-dark{
    color: #CF6679
}

.btn-secondary{
    background-color: #03DAC6;
}

.btn-primary{
    background-color: #BB86FC;
}


/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.social-login-container{
    padding-top: 20px;
}

.social-login-container .social-login{
    width:180px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}

#lbl-profile-name{
    color:#1c3f94;
}

.pointer{
    cursor: pointer;
}

.height-50{
    height: 200px;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100px;
}

.pl-6, .px-6{
    padding-left: 6rem!important;
}

.pr-6, .px-6{
    padding-right: 6rem!important;
}

.pl-7, .px-7{
    padding-left: 7rem!important;
}

.pr-7, .px-7{
    padding-right: 7rem!important;
}

.pl-8, .px-8{
    padding-left: 8rem!important;
}

.pr-8, .px-8{
    padding-right: 8rem!important;
}

.pl-9, .px-9{
    padding-left: 9rem!important;
}

.pr-9, .px-9{
    padding-right: 9rem!important;
}

.pl-10, .px-10{
    padding-left: 10rem!important;
}

.pr-10, .px-10{
    padding-right: 10rem!important;
}

.list-group-item:hover, .nav-applicant-active{
    background-color: #E4E6EB;
    cursor: pointer;
    color: #1c3f94;
}

.fs-25{
    font-size: 25px;
}

.mh-300{
    min-height: 300px;
}

.color-aqua{
    color: aqua;
}

.hr-gray{
    border-top: 1px solid gray;
}

.logo-nav{
    width: 200px; 
    text-align: center; 
}

#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    height: 100%;
    background: #474a5efb;
    width: 250px;

    /*border: 2px solid red;*/
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

#sidebar-header{
    padding: 20px 20px;
}


.sidebar-nav li{
    text-indent: 5px;
    line-height: 50px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
    font-size: 20px;
}

.sidebar-nav li a:hover, .sidebar-active{
    background: #302f2f;
}

/* CSS For Autocompleter*/
.autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #464444;
    cursor: pointer;
}



/* CSS For Add Job Listing Form */

.selectbox-border{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 40px;
}

.selectbox-border:hover{
    border-color: #007bff;
    cursor: pointer;
}

/* CSS For TextInputs */

.ex-info{
    color: white;
}



.text_Input{
    background-color: #464444;
    color: white;
}

.text_Input:focus{
    background-color: #464444;
    color: white;
}

.exlabel{
    color: white;
}

.date_Input{
    background-color: #464444;
    color: white;  
}

.date_Input:focus{
    background-color: #464444;
    color: white;  
}

.extextarea{
    background-color: #464444;
    color: white;
}

.eduinp{
    background-color: #464444;
    color: white;
}

/* CSS For Qualifications Template */
.qualification-template, .job-preview{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.custom-form-input{
    border-radius: 5px
}



  
  

  .applicant-text-color{
      color: #BB86FC;
  }

  .btn-applicant{
      background-color: #BB86FC;
      box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  }

  

.handicapped-button{
    width: 50%;
    height: 100%;
}



/*hover card*/


.task {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  perspective: 800px;
  transform-style: preserve-3d;
  box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #BB86FC;
}

.task_click {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    color: black;
  }

.abstract,
.details {
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background-color: rgba(187,134,252,0.24);
  border-radius: 3px;
}
.task:hover .abstract,
.task:hover .details {
  background-color: rgba(187,134,252,0.04);
  border-radius: 3px;
}

.task_click .abstract,
.task_click .details {
  background-color:  rgba(187,134,252,0.24);
  border-radius: 3px;
}

.abstract {
  transition: 0.3s ease all;
  color: #BB86FC;
  box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.details {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transform: rotateX(-180deg);
  transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.3s transform ease;
}
.details:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: grey;
}


.task:hover .details {
  max-height: none;
  overflow: visible;
  visibility: visible;
  transform: rotateX(0deg);
}

.task_click .details {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);
  }


.details__inner {
  padding: 15px 30px;
}


.img-applicant-portfolio{
    position: relative;
    width: 100%;
    height: 200px;
}

.vertical-center{
    padding-top: 10%;
    padding-left: 5%;
}

/*CSS for PWD LOGIN*/

.login-pwd {
  background: rgba(234, 233, 236, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.btn-group{
    padding: 0;
    margin: 0 0 40px 0;
}

.btn-handicapped{
    background-color:  #BB86FC;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.btn-handicapped-danger{
    background-color:  #ff1515;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}
.btn-pwd{
    background-color:  #BB86FC;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
   
}

.btn-pwd-nonactive{
    background-color:  #7d7c7e;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
   
}

.login-content > div:last-child {
    display: none;
  }

.top-field> div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
.top-field > div:last-child {
    margin: 0;
  }

 .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

.card-pwd{
    background-color: #857992;
}

.bg-gradient{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(182,212,246,1) 100%);
}

.margin-pwd{
    margin: 50px 150px;
}

.margin-pwd2{
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
.margin-pwd3{
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
}

.label-pwd{
    font-size: 35px;
}





  
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 46%;
      max-width: 46%;
    }
  }
  
  .card {
    opacity: 0.8;
    filter: alpha(opacity=60);
  }
  .card-title {
    font-weight: bold;
    text-align: center;
  }
  .card-text {
    text-align: justify;
  }


.card-icon-text{
    font-size: 30px;
}
  
  
 
  



