.card-dark-theme{
 background-color: rgba(18, 18, 18, 0.11);
}

.card-primary-theme{
    background-color: #283f2b;
    
}

.card-secondary-theme{
    background-color:  rgba(247, 228, 228, 0.13);
}

.card-primary-theme-p5{
    background-color:  rgba(187,134,252,0.12);
    color: #BB86FC;
}

.input-dark-theme{
  background-color: rgba(18, 18, 18, 0.15);
  color: white;
    
}

.btn-danger-dark{
    background-color: #CF6679
}

.text-danger-dark{
    color: #CF6679
}

.btn-secondary{
    background-color: #03DAC6;
}

.btn-primary{
    background-color: #55f1fc;
}


/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.social-login-container{
    padding-top: 20px;
}

.social-login-container .social-login{
    width:180px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}

#lbl-profile-name{
    color:#1c3f94;
}

.pointer{
    cursor: pointer;
}

.height-50{
    height: 200px;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100px;
}

.pl-6, .px-6{
    padding-left: 6rem!important;
}

.pr-6, .px-6{
    padding-right: 6rem!important;
}

.pl-7, .px-7{
    padding-left: 7rem!important;
}

.pr-7, .px-7{
    padding-right: 7rem!important;
}

.pl-8, .px-8{
    padding-left: 8rem!important;
}

.pr-8, .px-8{
    padding-right: 8rem!important;
}

.pl-9, .px-9{
    padding-left: 9rem!important;
}

.pr-9, .px-9{
    padding-right: 9rem!important;
}

.pl-10, .px-10{
    padding-left: 10rem!important;
}

.pr-10, .px-10{
    padding-right: 10rem!important;
}

.list-group-item:hover, .nav-applicant-active{
    background-color: #E4E6EB;
    cursor: pointer;
    color: #1c3f94;
}

.fs-25{
    font-size: 25px;
}

.mh-300{
    min-height: 300px;
}

.color-aqua{
    color: aqua;
}

.hr-gray{
    border-top: 1px solid gray;
}

.logo-nav{
    width: 200px; 
    text-align: center; 
}

#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    height: 100%;
    background: #283f2b;
    width: 250px;

    /*border: 2px solid red;*/
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;
}

.sidebar-nav{
    color: #fbfafd;
    padding: 0;
    list-style: none;
}

#sidebar-header{
    padding: 20px 20px;
}


.sidebar-nav li{
    text-indent: 5px;
    line-height: 50px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.sidebar-nav li a:hover, .sidebar-active{
    background: #9c9797;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

/* CSS For Autocompleter*/
.autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #464444;
    cursor: pointer;
}



/* CSS For Add Job Listing Form */

.selectbox-border{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 40px;
}

.selectbox-border:hover{
    border-color: #007bff;
    cursor: pointer;
}

/* CSS For TextInputs */

.ex-info{
    color: white;
}



.text_Input{
    background-color: #464444;
    color: white;
}

.text_Input:focus{
    background-color: #464444;
    color: white;
}

.exlabel{
    color: black;
}

.date_Input{
    background-color: #464444;
    color: white;  
}

.date_Input:focus{
    background-color: #464444;
    color: white;  
}

.extextarea{
    background-color: #464444;
    color: white;
}

.eduinp{
    background-color: #464444;
    color: white;
}

/* CSS For Qualifications Template */
.qualification-template, .job-preview{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.custom-form-input{
    border-radius: 5px
}



  
  

  .applicant-text-color{
      color: #daad12;
  }

  .btn-applicant, .btn-apply{
      background-color: #BB86FC;
      box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
  }


  

.handicapped-button{
    width: 50%;
    height: 100%;
}

/*Seach Page*/
.date-posted{
    color: gray;
    font-size: 15px;
}

.search-job-info{
    height: 600px;
    overflow:auto;
}

.job-card{
    margin-bottom: 10px;
}

.job-card-sticky{
    position: -webkit-sticky;
    position: sticky!important;
    top: 0;
}

/*hover card*/


.task{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  perspective: 800px;
  transform-style: preserve-3d;
  box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: white;
  background-color: #283f2b;
}

.task_click {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    color: white;
    background-color: #283f2b;
  }

.abstract,
.details {
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background-color: #283f2b;
  border-radius: 3px;
}
.task:hover .abstract,
.task:hover .details {
  background-color: #283f2b;
  border-radius: 3px;
}

.task_click .abstract,
.task_click .details {
  background-color: #283f2b;
  border-radius: 3px;
}

.abstract {
  transition: 0.3s ease all;
  color:white;
  box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.details {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transform: rotateX(-180deg);
  transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.3s transform ease;
}
.details:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: grey;
}


.task:hover .details {
  max-height: none;
  overflow: visible;
  visibility: visible;
  transform: rotateX(0deg);
}

.task_click .details {
    max-height: none;
    overflow: visible;
    visibility: visible;
    transform: rotateX(0deg);
  }


.details__inner {
  padding: 15px 30px;
}


.img-applicant-portfolio{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.vertical-center{
    padding-top: 10%;
    padding-left: 5%;
}

/*CSS for PWD LOGIN*/

.login-pwd {
  background: rgba(234, 233, 236, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.btn-group{
    padding: 0;
    margin: 0 0 40px 0;
}

.btn-handicapped{
    background-color:  #BB86FC;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.btn-handicapped-danger{
    background-color:  #ff1515;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}
.btn-pwd{
    background-color:  #BB86FC;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
   
}

.btn-pwd-nonactive{
    background-color:  #7d7c7e;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
   
}

.login-content > div:last-child {
    display: none;
  }

.top-field> div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
.top-field > div:last-child {
    margin: 0;
  }

 .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

.card-pwd{
    background-color: #857992;
}

.bg-gradient{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(182,212,246,1) 100%);
}

.margin-pwd{
    margin: 50px 150px;
}

.margin-pwd2{
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
.margin-pwd3{
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
}

.label-pwd{
    font-size: 35px;
}





  
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 46%;
      max-width: 46%;
    }
  }
  
  .card {
    opacity: 0.8;
    filter: alpha(opacity=60);
  }
  .card-title {
    font-weight: bold;
    text-align: center;
  }
  .card-text {
    text-align: justify;
  }


.card-icon-text{
    font-size: 30px;
}


/* aside */

.sidenav {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin-top: 77px;
    padding: 5px 5px;
  }
  

  .sidenav i {
   
    font-size: 50px;
    color: #6200EE;
    
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
  }

  .sidenav h1 {
  
    font-size: 55px;
    text-align: center;
  }

 .card-portfolio {
    background-color: #79ebff;
    color: white;
    margin: 0px;
  }
  
  .sidenav a:hover {
    color: #a3a5a8;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  .btn-pwd-portfolio{
    background-color: #6200EE;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 25px;
    
  }
  /* EMPLOYER COLOR AND DASHBOARD*/
#sidebar-wrapper-employer{
    z-index: 1;
    position: absolute;
    height: 100%;
    background: #0f0e0e;
    width: 250px;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.card-primary-theme-employer{
    background-color:  #f1eeee;
    color: #000000;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
}

.card-primary-theme-employer-card{
    background-color:  #f1eeee;
    color: #000000;
    box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.2);
}



.downlist{
    color: #08060a;
    background-color: #cacaca;
    height: 35px;
    width:300px;
}

.shadowbar-nav{
    background-color: #BB86FC;
    box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
}

.navbar-expand-sm{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar{
    background-color: #283f2b;
}

.base-bg{
    background-color: #ffffff;
}

.card-shadow{
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.card-header{
    background-color: #283f2b;
}

.bg-dark-green{
    background-color: #283f2b;
}

.mar{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5%;
    margin-left: 5%;
}

.coll{
    column-width:200px;
}



.card-height{
 max-height: 125px;
}




/* input-experience*/
.component-position {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:820px;
	left: 270px;
  }
  .component-company {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:820px;
	left: 840px;
  }
  .component-start-date {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:930px;
	left: 270px;
  }

  .component-end-date {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:930px;
	left: 840px;
  }

  .component-specialization {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1040px;
	left: 270px;
  }
  .component-role {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1040px;
	left: 840px;
  }

  .component-country {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1150px;
	left: 270px;
  }

  .component-industry {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1150px;
	left: 840px;
  }

  .component-position_level {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1260px;
	left: 270px;
  }

  .component-salary_currency {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1370px;
	left: 270px;
  }
  
  .component-salary {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1480px;
	left: 270px;
  }

  .component-experience_description {
	position: absolute;
	align-items: flex-start;
	display: flex;
	min-width: 731px;
	top:1260px;
	left: 840px;
  }

  .input {
	align-items: flex-start;
	display: flex;
	height: 138px;
	left: 0;
	min-width: 731px;
	position: absolute;
	top: 0;
  }
  .label {
	align-items: flex-start;
	display: flex;
	height: 64px;
	left: 71px;
	min-width: 141px;
	position: absolute;
	top: 0;
  }
  .name {
	background-color: 
  transparent;
	border: 0;
	height: 53px;
	left: 22px;
	letter-spacing: 0;
	line-height: 30px;
	padding: 0;
	position: absolute;
	resize: none;
	text-align: left;
	top: 40px;
	width: 450px;
	font-size: 30px;
  }
  .name::placeholder {
	color: 
  #88818199;
  }
 
  .overlap-group2 {
	height: 64px;
	position: relative;
	width: 141px;
  }
  .place {
	color: rgb(247, 127, 0);
	left: 10px;
	letter-spacing: 0;
	line-height: 41px;
	position: absolute;
	text-align: center;
	top: 0;
	white-space: nowrap;
  }
  .rectangle-37 {
	border-style: solid;
	border-color: rgb(247, 127, 0);
	border-radius: 72px;
	height: 75px;
	left: 0;
	position: absolute;
	top: 32px;
	width: 500px;
  }

  .rectangle-37-textarea {
	border-style: solid;
	border-color: rgb(247, 127, 0);
	border-radius: 2px;
	height: 300px;
	left: 0;
	position: absolute;
	top: 32px;
	width: 500px;
  }
  .rectangle-38-ver1 {
	background-color: var(--white);
	height: 61px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 255px;
  }
  
  .rectangle-38-ver2{
	background-color: var(--white);
	height: 61px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 205px;
  }

  .rectangle-38-ver3{
	background-color: var(--white);
	height: 61px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 105px;
  }
  @font-face {
	font-family: "SegoeUI-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  
  @font-face {
	font-family: "SegoeUI-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("https://fonts.animaapp.com/SegoeUI-Bold") format("truetype");
  }
  
  input:focus {
	outline: none;
  }

/*pwd-experience revise */
.border-1{
	border-radius: 10px;
	border: 5px #0F2B5B;
}

.navigation-text-active{
	fill: white;
	font-family: "SegoeUI-Bold";
	font-size: 50px;
	font-style: normal;
	font-weight: bold;
}

.navigation-text{
	fill: #0F2B5B;
	font-family: "SegoeUI-Bold";
	font-size: 50px;
	font-style: normal;
	font-weight: bold;
}

.navigation{
	fill: rgba(247,127,0,1);
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.529));
	border-radius: 10px;
	
}
.navigation-active{
	fill: white;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
  }

.home-btn{
	fill: white;
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.529));
	border-radius: 10px;
	stroke: #0F2B5B;
	stroke-width:10
}

.index-btn{
	fill: white;
	stroke: #0F2B5B;
	stroke-width:10
}

.index-btn-text{
	fill: #0F2B5B;
	font-family: "SegoeUI-Bold";
	font-size: 46px;
	font-style: normal;
	font-weight: bold
}

.home-btn-text{
	fill: #0F2B5B;
	font-family: "SegoeUI-Bold";
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
}

.text-card-title{
	fill: #fff;
	font-family: "SegoeUI-Bold";
	font-style: normal;
	font-weight: bold;
}

.text-card-sm-title{
	fill: #0f2b5b;
	font-family: "SegoeUI-Bold";
	font-size: 20px; 
	font-style: normal;
	font-weight: bold;
}

.text-card-sm{
	fill: #0f2b5b;
	font-family: "SegoeUI";
	font-size: 20px; 
}




  .option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
  }
  .option-input:hover {
	background: #9faab7;
  }
  .option-input:checked {
	background: #0F2B5B;
  }
  .option-input:checked::before {
	height: 40px;
	width: 40px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 26.66667px;
	text-align: center;
	line-height: 40px;
  }
  .option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #0F2B5B;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
  }
  .option-input.radio {
	border-radius: 50%;
  }
  .option-input.radio::after {
	border-radius: 50%;
  }

  

  .title{
	font-size: 40px;
  }

  section.input-container .pwd-label {
	position: relative;
	display: block;
}
section.input-container .pwd-label .pwd-in {
		display: block;
		padding: 20px;
		width: 500px;
	    margin-bottom: 10px;
	    outline: none;
		transition: all 0.2s ease-in-out;
		background-color: white;
		font-weight: bold;
		color: #F77F00;
		border-style: solid;
        border-width: 5px;
		border-radius: 20px;
	}
section.input-container .pwd-label .pwd-in::-moz-placeholder {
			-moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			color: #D3D3D3;
			font-weight: bold;
		}
section.input-container .pwd-label .pwd-in:-ms-input-placeholder {
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			color: #D3D3D3;
			font-weight: bold;
		}
section.input-container .pwd-label .pwd-in::placeholder {
			transition: all 0.2s ease-in-out;
			color: #D3D3D3;
			font-weight: bold;
		}
section.input-container .pwd-label .pwd-in:focus, section.input-container .pwd-label .pwd-in.populated {
			padding-top: 28px;
			padding-bottom: 12px;
		}
section.input-container .pwd-label .pwd-in:focus::-moz-placeholder, section.input-container .pwd-label .pwd-in.populated::-moz-placeholder {
				color: transparent;
			}
section.input-container .pwd-label .pwd-in:focus:-ms-input-placeholder, section.input-container .pwd-label .pwd-in.populated:-ms-input-placeholder {
				color: transparent;
			}
section.input-container .pwd-label .pwd-in:focus::placeholder, section.input-container .pwd-label .pwd-in.populated::placeholder {
				color: transparent;
			}
section.input-container .pwd-label .pwd-in:focus + .pwd-span, section.input-container .pwd-label .pwd-in.populated + .pwd-span {
			   opacity: 1;
				top: 10px;
			}
section.input-container .pwd-label .pwd-span {
		font-size: .8rem;
		color: #A9A9A9;
		position: absolute;
		top: 0px;
		left: 20px;
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}

.pwd-input{
  width: 500px;
  height: 50px;
  border-style: solid;
  border-width: 5px;
  border-color: #F77F00;
}

.pwd-input:focus{
  outline: none;
}

.card-bg{
  background-color: #0F2B5B;
}

hr{
  border-top: 1px solid white;
}

.pwd-text{
  color: #F77F00;
}

