
/* sign in FORM */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.social-login-container{
    padding-top: 20px;
}

.social-login-container .social-login{
    width:180px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}

#lbl-profile-name{
    color:#1c3f94;
}

.pointer{
    cursor: pointer;
}

.height-50{
    height: 200px;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100px;
}

.pl-6, .px-6{
    padding-left: 6rem!important;
}

.pr-6, .px-6{
    padding-right: 6rem!important;
}

.pl-7, .px-7{
    padding-left: 7rem!important;
}

.pr-7, .px-7{
    padding-right: 7rem!important;
}

.pl-8, .px-8{
    padding-left: 8rem!important;
}

.pr-8, .px-8{
    padding-right: 8rem!important;
}

.pl-9, .px-9{
    padding-left: 9rem!important;
}

.pr-9, .px-9{
    padding-right: 9rem!important;
}

.pl-10, .px-10{
    padding-left: 10rem!important;
}

.pr-10, .px-10{
    padding-right: 10rem!important;
}

.list-group-item:hover, .nav-applicant-active{
    background-color: #E4E6EB;
    cursor: pointer;
    color: #1c3f94;
}

.fs-25{
    font-size: 25px;
}

.mh-300{
    min-height: 300px;
}

.color-aqua{
    color: aqua;
}

.hr-gray{
    border-top: 1px solid gray;
}

.logo-nav{
    width: 200px; 
    text-align: center; 
}

#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    height: 100%;
    background: #474a5efb;
    width: 250px;

    /*border: 2px solid red;*/
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

#sidebar-header{
    padding: 20px 20px;
}


.sidebar-nav li{
    text-indent: 5px;
    line-height: 50px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
    font-size: 20px;
}

.sidebar-nav li a:hover, .sidebar-active{
    background: #302f2f;
}

/* CSS For Autocompleter*/
.autocomplete {
    background: white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: #464444;
    cursor: pointer;
}



/* CSS For Add Job Listing Form */

.selectbox-border{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 40px;
}

.selectbox-border:hover{
    border-color: #007bff;
    cursor: pointer;
}

/* CSS For TextInputs */

.ex-info{
    color: white;
}



.text_Input{
    background-color: #464444;
    color: white;
}

.text_Input:focus{
    background-color: #464444;
    color: white;
}

.exlabel{
    color: white;
}

.date_Input{
    background-color: #464444;
    color: white;  
}

.date_Input:focus{
    background-color: #464444;
    color: white;  
}

.extextarea{
    background-color: #464444;
    color: white;
}

.eduinp{
    background-color: #464444;
    color: white;
}

/* CSS For Qualifications Template */
.qualification-template{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.custom-form-input{
    border-radius: 5px
}



.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
	margin: 0 2em;
}

.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #888;
  }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  .tgl-skewed + .tgl-btn:active {
    background: #888;
  }
  .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  .tgl-skewed:checked + .tgl-btn {
    background: #86d993;
  }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }

  .tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #9fd6ae;
  }
  
  

  .applicant-text-color{
      color: #4ACFAC;
  }

  .btn-applicant{
      background-color: #4ACFAC;
  }

  .btn-handicapped{
    background-color: #4ACFAC;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
}

.handicapped-button{
    width: 50%;
    height: 100%;
}



/*hover card*/


.task {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  perspective: 800px;
  transform-style: preserve-3d;
  box-shadow: 0px 7px 10px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.abstract,
.details {
  width: 100%;
  padding: 15px 30px;
  position: relative;
  background-color: #4ACFAC;
}
.task:hover .abstract,
.task:hover .details {
  background-color: #aef7e4;
}

.abstract {
  transition: 0.3s ease all;
}

.details {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transform: rotateX(-180deg);
  transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.3s transform ease;
}
.details:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: grey;
}
.task:hover .details {
  max-height: none;
  overflow: visible;
  visibility: visible;
  transform: rotateX(0deg);
}

.details__inner {
  padding: 15px 30px;
}


