{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div id="sidebar-wrapper">
    <div id="sidebar-header">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'media/images/profile.jpg' %}" alt="sample img" id="img-company" width="50" height="50">
            </div>

            <div class="col-9">
                <p class="text-white">HANDICAPPED</p>
            </div>
        </div>
        
    </div>
    <ul class="sidebar-nav">
        <li id="employer-nav-dashboard"><a href="#"><i class="icon-dashboard pr-2"></i> Dashboard</a></li>
        <li><a href="#"><i class="icon-briefcase pr-2 pl-0"></i> Jobs Panel</a></li>
        <li><a href="#"><i class="icon-bar-chart pr-2"></i>Analytics</a></li>
        <li><a href="#"><i class="icon-cogs pr-2"></i>Settings</a></li>
    </ul>

{% endblock %}