{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <div class="row m-1">
        <div class="col-xl-4">
            <i class="icon-microphone d-inline-block fa-microphone fa-5x applicant-text-color"></i>  
            <input class="tgl tgl-skewed" id="cb3" type="checkbox"/>
            <label class="tgl-btn d-inline-block fa-2x ml-5" data-tg-off="OFF" data-tg-on="ON" for="cb3">     
        </div>
        <div class="col-xl-8">
            <h1 class="d-inline-block text-white">What would you Like to do...</h1>
        </div>
    </div>
    
    <div class="row m-1 d-flex justify-content-center">
        <div class="col-6">
           <button type="submit" class="btn btn-handicapped">Edit My Portfolio</button>
          
        </div>
        <div class="col-6">
            <button class="btn btn-handicapped">Find Jobs Near Me</button>
         </div>
    </div>

    <div class="row m-1 d-flex justify-content-center">
       <div class="col-6">
        <button class="btn btn-handicapped pb-5">Find Companies</button>
       </div> 
       <div class="col-6">
        <button class="btn btn-handicapped">Check Applicantion Status</button>
       </div>
    </div>

    <div class="row m-1 d-flex justify-content-center">
        <div class="col-6">
         <button class="btn btn-handicapped">Help</button>
        </div> 
        <div class="col-6">
         <button class="btn btn-handicapped">Command List</button>
        </div>
     </div>

    


</div>

    

{% endblock %}
