{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="login-pwd">
    <div class="btn-group d-flex justify-content-center">
        <button class="btn btn-pwd-nonactive" id="btn-sign">Sign Up</button>
        <button class="btn btn-pwd-nonactive"  id="btn-login">Login</button>
    </div>
    
    <div id="signup-content" class="d-none">
         
        <h1 class="text-center">Sign Up</h1>
         
      <form  method="">
          <div class="top-field mt-4">
            <div class="field-wrap mb-3">
                <input class="form-control form-control-lg" name="first-name" type="text" placeholder="First Name">
            </div>
            <div class="field-wrap mb-3">
                <input class="form-control form-control-lg" name="last-name" type="text" placeholder="Last Name">
            </div>
          </div>

          <div class="field-wrap mb-3">
            <input class="form-control form-control-lg" name="email" type="email" placeholder="Email">
          </div>
          <div class="field-wrap mb-3">
            <input class="form-control form-control-lg" name="pass" type="password" placeholder="Password">
            
          </div>
          <div class="field-wrap mb-3">
            <input class="form-control form-control-lg" name="pass2" type="password" placeholder="Password2">
          </div>
         

          <button class="btn btn-pwd">GET STARTED</button>

      </form>
            
    </div>
    <div id="login-content">
         
        <h1 class="text-center">Welcome Back!</h1>
         
      <form  method="">

          <div class="field-wrap mb-3">
            <input class="form-control form-control-lg" id="email" type="email" placeholder="Email">
          </div>
          <div class="field-wrap mb-3">
            <input class="form-control form-control-lg" id="pass" type="password" placeholder="Password">
          </div>
          <p class="text-right mt"><a href="#">Forgot Password?</a></p>

          <button class="btn btn-pwd">LOG IN</button>

      </form>
            
    </div>
</div>


{% endblock %}