{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="card bg-gradient margin-pwd">
    <div class="container mt-2">
        <div class="row mb-5">
            <div class="col-12">
                <img src="{% static 'media/images/pwd-header-2.png' %}" class="img-applicant-portfolio" alt="">
            </div> 
        </div>  
    </div>
</div>
<div class="card card-pwd margin-pwd2"> 
    <div class="container card-pwd">
        <div class="row">
            <div class="col-12">
             <div class="form-group">
                 <h1 class="text-center m-1 text-white">ADD Education</h1>
              </div>
            </div> 
         </div>
    </div>
</div>


<div class="card margin-pwd3">
    <div class="card-body">
        <form>
            <div class="comtainer">
                <div class="row">
                   <div class="col-6">
                    <div class="form-group">
                        <label class="label-pwd">Position Title</label>
                        <input type="text" class="form-control form-control-lg" id="" placeholder="">
                     </div>
                   </div>
                   <div class="col-6">
                    <div class="form-group">
                        <label class="label-pwd">Company Name</label>
                        <input type="text" class="form-control form-control-lg" id="" placeholder="">
                      </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-6">
                     <div class="form-group">
                        <label class="label-pwd">Start Date</label>
                         <input type="text" class="form-control form-control-lg" id="" placeholder="">
                    </div>
                    </div>
                    <div class="col-6">
                     <div class="form-group">
                        <label class="label-pwd">End Date</label>
                        <input type="text" class="form-control form-control-lg" id="" placeholder="">
                    </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Specialization</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Role</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Country</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Industry</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Position Level</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="label-pwd">Salary Currency</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="label-pwd">Salary</label>
                            <input type="text" class="form-control form-control-lg" id="" placeholder="">
                        </div>
                    </div>
                   
                 </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <button class="btn btn-handicapped">SAVE</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <button class="btn btn-handicapped-danger">CANCEL</button>
                        </div>
                    </div>
                 </div>
            </div>
            
          </form>
    </div>
</div>

{% endblock %}