{% extends "../base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
	<div class="card">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
			  <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 mt-5 container-fluid d-flex justify-content-center">
				
					<svg version="1.1" viewBox="0 0 1222 65">
						<a href="/handicapped/index">
						<rect width="258" height="65" rx="25" x="400" y="0" class="home-btn"/>
						<text class="home-btn-text" x="490" y="40">HOME</text>
					    </a>
					</svg>
				
			   </div>
			   <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 mt-5 container-fluid d-flex justify-content-center">
				<svg version="1.1" viewBox="0 0 1200 120">
					<rect width="1200" height="120" x="0" y="0" rx="50" ry="50" class="navigation"/>
					<a href="/handicapped/pwd-eeone">
						<text x="100" y="70" class="navigation-text">Experience</text>
					</a>
					<text x="400" y="70" class="navigation-text-active">Education</text>
					<rect width="163" height="19" x="425" y="80" rx="10" ry="10" class="navigation-active"/>
					<a href="/handicapped/pwd-sltree">
						<text x="700" y="70" class="navigation-text">Skills</text>
					</a>
					<a href="/handicapped/pwd-llfour">
						<text x="900" y="70" class="navigation-text">Language</text>
					</a>
				</svg>
			   </div>
			   
				<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 mr-2">
					<a href="#" class="btn btn-applicant" id="btn-add-education"><i class="icon-plus-sign"></i> Add Education Info</a>
				</div>
			  {% for education in education_list %}
			   <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 mt-5 container-fluid d-flex justify-content-center">
				<div class="card container-fluid card-bg"  id="div-education-list">
					<div class="card-body">
						 <div class="container-fluid">
							 <div class="row">
								 <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
									 <h1 class="text-white">{{education.university}}
										<a href="{% url 'pwd_education_update' education.id %}" class="update-experience"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
										<a data-link="{% url 'pwd_education_delete' 'delete' education.id %}" class="btn-delete-education text-danger-dark" id="btn-delete-experience"><i class="icon-trash fs-25 d-inline-block"></i></a>
									 </h1>
								 </div>
							 </div>
							 <div class="row">
								 <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
									 <h4 class="text-white text-right">{{ education.qualification }} in {{ education.field_of_study }}</h4>
								 </div>
							 </div>
							 <div class="row">
								 <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
									 <h5 class="text-white text-right">{{education.graduation_date}}</h5>
								 </div>
							 </div>
 
							 <hr>
 
							 <div class="row">
								 <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
									 <h5 class="text-white">Details:</h5>
								 </div>
							 </div>
 
							 <div class="card">
								 <div class="card-body">
									 <div class="container">
										 <div class="row">
											 <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
												 <h6>Major in:</h6>
											 </div>
											 <div class="col-sm-8 col-md-8 col-xl-8 col-lg-8">
												 <h6>{{education.major}}</h6>
											 </div>
										 </div>
										 <div class="row">
											 <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
												 <h6>GPA:</h6>
											 </div>
											 <div class="col-sm-8 col-md-8 col-xl-8 col-lg-8">
												 <h6>{{education.grade}}</h6>
											 </div>
										 </div>
										 
									 </div>
								 </div>
							 </div>
 
						 </div>
					</div>
				</div>
				   
				</div>
		
			   </div>
			   {% endfor %}
			   
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<div class="container-fluid d-none" id="div-education-form">
					{% crispy education_form %}
					
				</div>
			   </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

