{% extends "../base.html" %} 
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
			  <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				
					<svg version="1.1" viewBox="0 0 1222 65">
						<a href="/handicapped/index">
						<rect width="258" height="65" rx="25" x="400" y="0" class="home-btn"/>
						<text class="home-btn-text" x="490" y="40">HOME</text>
					    </a>
					</svg>
				
			   </div>
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<svg version="1.1" viewBox="0 0 1200 120">
					<rect width="1200" height="120" x="0" y="0" rx="50" ry="50" class="navigation"/>
					<a href="/handicapped/pwd-exp">
						<text x="100" y="70" class="navigation-text">Experience</text>
					</a>
					<text x="400" y="70" class="navigation-text">Education</text>
					<a href="/handicapped/pwd-sk">
						<text x="700" y="70" class="navigation-text-active">Skills</text>
						<rect width="163" height="19" x="678" y="80" rx="10" ry="10" class="navigation-active"/>
					</a>
					<a href="/handicapped/pwd-lang">
						<text x="900" y="70" class="navigation-text">Language</text>
					</a>
				</svg>
			   </div>
			   
				<div class="col-12 mr-2">
					<a href="#" class="btn btn-applicant" id="btn-add-skill"><i class="icon-plus-sign"></i> Add Skill Info</a>
				</div>
				{% for skill in skill_list %}
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<div class="card container-fluid card-bg"  id="div-skill-list">
					<div class="card-body">
						 <div class="container-fluid">
							 <div class="row">
								 <div class="col-12">
									 <h1 class="text-white">{{skill.skill}}
										<a href="{% url 'pwd_skills_update' skill.id%}" class="update-skill applicant-text-color"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
                                         <a data-link="{% url 'pwd_skills_delete' 'delete' skill.id%}" class="btn-delete-skill text-danger-dark" id="btn-delete-skill"><i class="icon-trash fs-25 d-inline-block" ></i></a>
									 </h1>
								 </div>
							 </div>
							 <div class="row">
								 <div class="col-12">
									 <h4 class="text-white text-right">{{skill.proficiency}}</h4>
								 </div>
							 </div>
 
						 </div>
					</div>
				</div>
				   
				</div>
		
			   </div>
			   {% endfor %}
			   
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<div class="container-fluid d-none" id="div-skill-form">
					{% crispy skill_form %}
					
				</div>
			   </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}