{% extends "../base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
	<div class="card">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
			  <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				
					<svg version="1.1" viewBox="0 0 1222 65">
						<a href="/handicapped/index">
						<rect width="258" height="65" rx="25" x="400" y="0" class="home-btn"/>
						<text class="home-btn-text" x="490" y="40">HOME</text>
					    </a>
					</svg>
				
			   </div>
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<svg version="1.1" viewBox="0 0 1200 120">
					<rect width="1200" height="120" x="0" y="0" rx="50" ry="50" class="navigation"/>
					<a href="/handicapped/pwd-experience">
						<text x="100" y="70" class="navigation-text">Experience</text>
					</a>
					<text x="400" y="70" class="navigation-text-active">Education</text>
					<rect width="163" height="19" x="425" y="80" rx="10" ry="10" class="navigation-active"/>
					<a href="/handicapped/pwd-skill">
						<text x="700" y="70" class="navigation-text">Skills</text>
					</a>
					<a href="/handicapped/pwd-language">
						<text x="900" y="70" class="navigation-text">Language</text>
					</a>
				</svg>
			   </div>

			  {% for education in education_list %}
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<svg version="1.1" viewBox="0 0 1228 318">
		             <rect width="1210" height="300" rx="10" transform="translate(9 4)" fill="#0f2b5b"/>
					  
					  <text class="text-card-title" font-size="42"><tspan x="60" y="43">{{education.university}}</tspan></text>
					  <text class="text-card-title" font-size="29"><tspan x="1040" y="60">{{ education.qualification }} in {{ education.field_of_study }}</tspan></text>
					  <path id="Icon_awesome-user-tie" data-name="Icon awesome-user-tie" d="M18,17c5.681,0,10.286-3.805,10.286-8.5S23.681,0,18,0,7.714,3.805,7.714,8.5,12.319,17,18,17Zm7.7,2.165-3.841,12.71-2.571-9.031,2.571-3.719H14.143l2.571,3.719-2.571,9.031L10.3,19.165C4.572,19.391,0,23.262,0,28.05v2.762C0,32.572,1.728,34,3.857,34H32.143C34.272,34,36,32.572,36,30.813V28.05c0-4.788-4.572-8.659-10.3-8.885Z" transform="translate(22 11)" fill="#fff"/>
					  <text class="text-card-title" font-size="17"><tspan x="1070" y="85">{{education.graduation_date}}</tspan></text>
					  <line  x2="1105" y2="0.5" transform="translate(52.5 100)" fill="none" stroke="#fff" stroke-width="1"/>
					  <text class="text-card-title" font-size="18"><tspan x="23" y="120">Details</tspan></text>
					  <g  transform="translate(22 141)" fill="#fff" stroke="#707070" stroke-width="1">
						<rect width="1164" height="120" x="10" y="10" stroke="none"/>
					  </g>
					  <g>
					  <text class="text-card-sm-title"><tspan x="40" y="170">Major in:</tspan></text>
					  <text class="text-card-sm-title"><tspan x="40" y="192">GPA:</tspan></text>
					  <text class="text-card-sm"><tspan x="500" y="170">{{education.major}}</tspan></text>
					  <text class="text-card-sm"><tspan x="500" y="192">{{education.Grade}}</tspan></text>
					  </g>
				  </svg>
				  
			   </div>
			   {% endfor %}
			   
			   <div class="col-12 mt-5 container-fluid d-flex justify-content-center">
				<div class="container-fluid">
					{% crispy education_form %}
					<!--<div class="row">
						<div class="col container-fluid d-flex justify-content-center">
						  <section class="input-container">
							  <label class="pwd-label">
							  <input class="pwd-in" type="text" placeholder="position title" name="product_name">
							  <span class="pwd-span">position title</span>
							  </label>
							</section>
						</div>
						<div class="col container-fluid d-flex justify-content-center">
						  <section class="input-container">
							  <label class="pwd-label">
							  <input class="pwd-in" type="text" placeholder="company name" name="product_name">
							  <span class="pwd-span">company name</span>
							  </label>
							</section>
						</div>
					</div>-->
				</div>
			   </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

