{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block portfolio-img-header%}
<div class="row mb-5">
    <div class="col-7 vertical-center">
        <i class="icon-book d-inline-block fs-25 applicant-text-color"></i>
        <h4 class="d-inline-block text-white">Education</h4>
    </div>
    <div class="col-4 m-10">
        <img src="{% static 'media/images/applicant_education.png' %}" class="img-applicant-portfolio" alt="">
    </div>
    
</div>
{% endblock %}
