{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block portfolio-content %}
    <div class="row mb-5">
        <div class="col-12 pt-1">
            <i class="icon-book d-inline-block fs-25"></i>
            <h4 class="d-inline-block">Education</h4>
        </div>
        
    </div>
    <p>Educational Attainment Information</p>
    <hr>
    <div class="d-none" id="div-education-form">
        {% crispy education_form %}
    </div>

    {% if education_list %}
    <div id="div-education-list">
        <div class="row">
            <div class="col-xs-12 ml-auto mr-2">
                <a href="#" class="btn btn-primary" id="btn-add-education"><i class="icon-plus-sign"></i> Add Education Info</a>
            </div>
        </div>
        {% for education in education_list %}
            <div class="row p-2 experience-record">
                <div class="col-3">
                    <span class="education-graduationdate" value="{{education.graduation_date|date:'Y-m-d'}}">{{education.graduation_date|date:'M Y'}}</span>
                    <br>
                    <span class="experience-span text-secondary"></span>
                </div>
                <div class="col-7">
                    <h5>{{ education.university }}</h5>
                    <h6>{{ education.qualification }} in {{ education.field_of_study }}</h6>
                    <div class="row">
                        <div class="col-4 text-secondary">Major in</div>
                        <div class="col-8">{{ education.major }}</div>

                        <div class="col-4 text-secondary">GPA</div>
                        <div class="col-8">{{ education.grade }}</div>
                    </div>
                    <br>
                    <p>{{ education.additional_information }}</p>
                </div>
                <div class="col-2">
                    <a href="{% url 'education_update' education.id %}" class="update-experience"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
                    <a data-link="{% url 'education_delete' 'delete' education.id %}" class="btn-delete-education" id="btn-delete-experience"><i class="icon-trash fs-25 d-inline-block" ></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}