{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block header%}
<div id="education-img-header" class="card bg-dark-green mb-3">
    <div class="container mt-2">
        <div class="row">
            <div class="col-8 card-height d-flex justify-content-center">
                <img src="{% static 'media/images/education-header.png' %}" class="img-applicant-portfolio" alt="">    
            </div>
            <div class="col-4 card-height d-flex justify-content-center">
                <img src="{% static 'media/images/applicant_education.png' %}" class="img-applicant-portfolio" alt="">
            </div> 
        </div>  
    </div>
</div>
{% endblock %}


{% block portfolio-content %}  

    <p class="applicant-text-color">Educational Attainment Information</p>
    <hr>
    <div class="d-none" id="div-education-form">
        {% crispy education_form %}
    </div>

    {% if education_list %}
    <div id="div-education-list">
        <div class="row">
            <div class="col-xs-12 ml-auto mr-2">
                <a href="#" class="btn btn-applicant" id="btn-add-education"><i class="icon-plus-sign"></i> Add Education Info</a>
            </div>
        </div>
        {% for education in education_list %}
            <div class="row p-2 experience-record">
                <div class="col-3">
                    <span class="education-graduationdate applicant-text-color" value="{{education.graduation_date|date:'Y-m-d'}}">{{education.graduation_date|date:'M Y'}}</span>
                    <br>
                    <span class="experience-span text-secondary"></span>
                </div>
                <div class="col-7">
                    <h5 class="">{{ education.university }}</h5>
                    <h6 class="">{{ education.qualification }} in {{ education.field_of_study }}</h6>
                    <div class="row">
                        <div class="col-4 applicant-text-color">Major in</div>
                        <div class="col-8">{{ education.major }}</div>

                        <div class="col-4 applicant-text-color">GPA</div>
                        <div class="col-8">{{ education.grade }}</div>
                    </div>
                    <br>
                    <p class="">{{ education.additional_information }}</p>
                </div>
                <div class="col-2">
                    <a href="{% url 'education_update' education.id %}" class="update-experience applicant-text-color"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
                    <a data-link="{% url 'education_delete' 'delete' education.id %}" class="btn-delete-education text-danger-dark" id="btn-delete-experience"><i class="icon-trash fs-25 d-inline-block"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
