{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block portfolio-content%}



<div class="row mb-5">
    <div class="col-9 pt-1">
        <i class="icon-briefcase d-inline-block fs-25 applicant-text-color"></i>
        <h3 class="d-inline-block text-white">Portfolio</h3>
    </div>
</div>


<div class="card-header">
    <i class="icon-briefcase d-inline-block fs-25 applicant-text-color"></i>
        <h3 class="d-inline-block text-white">Experience</h3>
  </div>
{% for experience in experience_list %} 

  <div class="card-deck m-3 d-flex justify-content-center">
    <div class="task portfolio_detail">
       <div class="abstract">
         <div class="row">
          <div class="col-8 mb-0">
            <h4>{{experience.position_title}}</h4>
          </div>
          <div class="col-4 mb-0 text-right">
            <i class="fa fa-eye fs-25 text-right"></i>
          </div>
          <div class="col-12 text-right">
            <h5>{{experience.company_name}}</h5>
            <p>{{experience.start_date|date:'M Y'}}-{{experience.end_date|date:'M Y'}}</p>
          </div>
        </div>
        </div>
        <div class="details">
          <div class="details__inner">
            <h4>Details</h4>
            <div class="row">
              <div class="col-4">Industry</div>
              <div class="col-8">{{experience.industry}}</div>
              <div class="col-4">Specialization</div>
              <div class="col-8">{{experience.specialization}}</div>
              <div class="col-4">Role</div>
              <div class="col-8">{{experience.role}}</div>
              <div class="col-4">Position Level</div>
              <div class="col-8">{{experience.position_level}}</div>
              <div class="col-4">Salary</div>
              <div class="col-8">{{experience.salary}}</div>
            </div>
          </div>
        </div>
    </div>   
</div>
{% endfor %}

<div class="card-header">
    <i class="icon-book d-inline-block fs-25 applicant-text-color"></i>
    <h4 class="d-inline-block text-white">Education</h4>
</div>
{% for education in education_list %} 

  <div class="card-deck m-3 d-flex justify-content-center">
    <div class="task portfolio_detail">
       <div class="abstract">
         <div class="row">
            <div class="col-8">
              <h4>{{education.university}}</h4>
            </div>
            <div class="col-4 mb-0 text-right">
              <i class="fa fa-eye fs-25 text-right"></i>
            </div>
            <hr>
            <div class="col-12 text-right">
                <h5>{{ education.qualification }} in {{ education.field_of_study }}</h5>
                <p>{{education.graduation_date|date:'M Y'}}</p>
            </div>
         </div>
        </div>
        <div class="details">
          <div class="details__inner">
            <h4>Details</h4>
            <div class="row">
              <div class="col-4">Major in</div>
              <div class="col-8">{{ education.major }}</div>
              <div class="col-4">GPA</div>
              <div class="col-8">{{ education.grade }}</div>
            </div>
          </div>
        </div>
    </div>   
</div>
{% endfor %}



<div class="card-header">
  <i class="icon-cogs d-inline-block fs-25 applicant-text-color"></i>
    <h4 class="d-inline-block text-white">Skills</h4>
</div>

<div class="card-deck m-2">
  {% for skill in skill_list %}
 <div class="col-4 mt-3">
  <div class="abstract">
    <div class="row">
      
        <h2>{{skill.skill}}</h2>
       <hr>
       <div class="col text-right">
           <h5>{{ skill.proficiency}}</h5>
       </div>
     
    </div>
   </div>
 </div>
  {% endfor %}  
</div>

<div class="card-header">
  <i class="icon-comments-alt d-inline-block fs-25 applicant-text-color"></i>
  <h4 class="d-inline-block text-white">Language</h4>
</div>

<div class="card-deck m-2">
  {% for language in language_list %}
 <div class="col-4 mt-3">
  <div class="abstract">
    <div class="row">
       <h2>{{language.language}}</h2>
       <hr>
       <div class="col text-right">
           <h5>{{ language.proficiency }}</h5>
       </div>
    </div>
   </div>
 </div>
  {% endfor %}  
</div>

{% endblock portfolio-content %}