{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block portfolio-content %}
<div class="row mb-5">
    <div class="col-9 pt-1">
        <i class="icon-cogs d-inline-block fs-25"></i>
        <h4 class="d-inline-block">Skills</h4>
    </div>
</div>
<hr>
<div class="container pb-3 d-none" id="div-skill-form">
    {% crispy skill_form %}
</div>
{% if skill_list %}
    <div id="div-skill-list">
        <div class="row">
            <div class="col-6">
                <h3 class="text-secondary">My Skillset</h3>
            </div>
            <div class="col-xs-6 ml-auto mr-2">
                <a href="#" class="btn btn-primary" id="btn-add-skill"><i class="icon-plus-sign"></i> Add Skill</a>
            </div>
        </div>
        <div class="row text-secondary pb-2">
            <div class="col-4">
                <h5>Skill Name</h5>
            </div>   
            <div class="col-3">
                <h5>Proficiency</h5>
            </div> 
        </div>
        {% for skill in skill_list %}
            <div class="row pb-1">
                <div class="col-4">
                    <h5>{{skill.skill}}</h5>
                </div>
                <div class="col-2">
                    <h5>{{skill.proficiency}}</h5>
                </div>
                <div class="col-2">
                    <a href="{% url 'skills_update' skill.id%}" class="update-skill"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
                    <a data-link="{% url 'skills_delete' 'delete' skill.id%}" class="btn-delete-skill"><i class="icon-trash fs-25 d-inline-block" ></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}