{% extends "./home.html"%}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block header %}
<div  class="card bg-dark mb-3">
    <div class="container mt-2">
        <div class="row mb-5">
            <div class="col-7 vertical-center">
                <i class="icon-briefcase fs-25 applicant-text-color"></i>
                <h4 class="d-inline-block text-white">Skills</h4>    
            </div>
            <div class="col-4">
                <img src="{% static 'media/images/applicant_skill.png' %}" class="img-applicant-portfolio" alt="">
            </div> 
        </div>  
    </div>
</div>
{% endblock %}

{% block portfolio-content %}

<hr>
<div class="container pb-3 d-none" id="div-skill-form">
    {% crispy skill_form %}
</div>
{% if skill_list %}
    <div class="mh-300" id="div-skill-list">
        <div class="row">
            <div class="col-6">
                <h3 class="text-white">My Skillset</h3>
            </div>
            <div class="col-xs-6 ml-auto mr-2">
                <a href="#" class="btn btn-applicant" id="btn-add-skill"><i class="icon-plus-sign"></i> Add Skill</a>
            </div>
        </div>
        <div class="row text-secondary pb-2">
            <div class="col-4">
                <h5 class="applicant-text-color">Skill Name</h5>
            </div>   
            <div class="col-3">
                <h5 class="applicant-text-color">Proficiency</h5>
            </div> 
        </div>
        {% for skill in skill_list %}
            <div class="row pb-1">
                <div class="col-4">
                    <h5 class="text-white">{{skill.skill}}</h5>
                </div>
                <div class="col-2">
                    <h5 class="text-white">{{skill.proficiency}}</h5>
                </div>
                <div class="col-2">
                    <a href="{% url 'skills_update' skill.id%}" class="update-skill applicant-text-color"><i class="icon-edit fs-25 d-inline-block pr-3"></i></a>
                    <a data-link="{% url 'skills_delete' 'delete' skill.id%}" class="btn-delete-skill text-danger-dark" id="btn-delete-skill"><i class="icon-trash fs-25 d-inline-block" ></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}